*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 1000px){
    html{
        font-size: 93.75%; //15px
    }
}

@media (max-width: 720px){
    html{
        font-size: 87.5%; // 14px
    }
}

:root{
    --white: #fff;

    --gray-50:#f7f8fa;
    --gray-100:#e6e8eb;
    --gray-200:#afb2b1;
    --gray-500:#808080;
    --gray-800:#494d4b;

    --green-500:#84d361;

    --purple-300:#9f75ff;
    --purple-400:#9164fa;
    --purple-300:#8257e5;
    --purple-300:#6f48c9;
}

body{
    background-color: var(--gray-50);
}

body, input, textarea, button{
    font: 500 1rem Inter, sans-serif;
    color: var(--gray-500);
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    font-family: Lexend, sans-serif;
}
h1{
    font-size: 1rem;
}
h2{
    font-size: 1.5rem;
}
button{
    cursor: pointer;
}